
  
  .modal-content {
    background-color: #ffffff!important;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
  }
  
  .modal-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modal-body {
    margin-bottom: 20px;
  }
  
  .modal-body label {
    display: block;
    margin-bottom: 10px;
  }
  
  .modal-body input,
  .modal-body textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .error-messages {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .error-messages p {
    margin: 0;
  }