/* About.css */

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  .about-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between;
    padding: 160px; /* Adjust padding as needed */
  }
  
  .left-content {
    flex: 1;
  }
  
  .title {
    margin: 0; /* Remove all margins */
    font-size: 24px; /* Adjust the font size for titles */
    color: rgb(188,163,127);/* Set the color to red */
    font-family: Papyrus, fantasy;
    
    

  }
  
  .description {
    margin: 0; /* Remove all margins */
    font-size: 15px; /* Adjust the font size for descriptions */
    
   
  }
  
  /* Add margin between title and description */
  .title + .description {
    margin-top: 10px; /* Adjust the margin as needed */
    
  }
  
  /* Add margin between specific titles and descriptions */
  .title:has(BiMovie) + .description {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .title:has(BiStar) + .description {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .section:last-child {
    margin-bottom: 0; /* Remove margin for the last section */
  }
  
  .service-icons {
    display: flex;
    justify-content: center;
  }
  
  .service-icon {
    font-size: 30px;
    margin: 0 10px; /* Adjust the margin as needed */
    animation: blink 1s infinite; /* Add blinking animation */
  }
  
  
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: center; /* Align items to the center on smaller screens */
    }
  
    .left-content {
      padding: 0; /* Remove padding on smaller screens */
      margin-top: 20px; /* Add margin at the top on smaller screens */
    }
  
    .title,
    .description {
      font-size: 16px; /* Adjust font size for smaller screens */
    }
  }
  