form {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    margin-right: 10px;
    margin-top: 10%;
    margin-bottom: 10%; 
}
.modal{
    color: black;
}

